[submodule "monarch"]
	path = monarch
	url = git://github.com/project8/monarch.git
[submodule "Scarab"]
	path = Scarab
	url = https://github.com/project8/scarab

[submodule "kassiopeia"]
	path = kassiopeia
	url = https://github.com/project8/kassiopeia
	branch = feature/readfieldmaps
